html,body,.website{ 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

.website{ 
    display: flex ;
    align-items: center; 
    justify-content: center;
} 

thead th{ 
    border: 1px solid black; 
    font-size: x-large; 
    padding: 10px; 
    cursor: pointer;
} 

table{  

    border-collapse: collapse;
} 


tbody tr{ 
    font-size: larger; 
     
    
} 

tbody td{ 
    padding: 10px; 
    border: 1px solid black;
}